

.hero {
  width: 100%;
	background-color: $lightGrayishBlue;

	


	.container {
		

		@include breakpoints-up(large) {
			display: flex;
			height: 500px;
		}
	}
	
  	&__image {
		position: relative;
		width: 100%;
		height: 400px;
		display: flex;
		overflow: hidden;
		
		@include breakpoints-up(large) {
			flex: 3;
			order: 2;
			max-width: 100%;
			overflow: visible;
			height: 500px;
		}

		&::before {
			content: '';
			background-image: url(/app/images/bg-intro-mobile.svg);
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			position: absolute;
			width: 100%;
			height: 100%;						

			@include breakpoints-up(large) {
				content: '';
				background-image: url(/app/images/bg-intro-desktop.svg);
				background-size: 90%;
				background-repeat: no-repeat;
				background-position: center center;
				position: absolute;
				width: 170%;
				height: 100%;
				overflow: hidden;
				
			}
		}

		&::after {

			content: '';
			background-image: url(/app/images/image-mockups.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center bottom;
			position: absolute;
			width: 100%;
			height: 90%;
			top: 0px;


			@include breakpoints-up(small) {
				content: '';
				background-image: url(/app/images/image-mockups.png);
				background-size: 430px;
				background-repeat: no-repeat;
				background-position: center bottom;
				position: absolute;
				width: 100%;
				height: 100%;
				
			}

			

			@include breakpoints-up(large) {
				content: '';
				background-image: url(/app/images/image-mockups.png);
				background-size: 90%;
				background-repeat: no-repeat;
				background-position: center bottom;
				position: absolute;
				width: 100%;
				height: 123%;
				top: -51px;
				left: 50%;
				transform: translateX(-30%);
			}
		}
	}

	&__text {
		padding: 3rem 1rem;
		padding-bottom: 2rem;
		text-align: center;

		h1 {
			margin-bottom: 1.5rem;
			font-size: 38px;
			font-weight: 500;
		}

		p {
			margin-bottom: 2rem;
		}

		
		
		
		@include breakpoints-up(large) {
			flex: 2;
			order: 1;
			display: flex;
			align-items: center;
			text-align: left;

			h1 {
				font-size: $font-xlg;
				
			}
			
			p {
				font-size: $font-medium;
				line-height: 1.4;
			}

			
		}
	}
    
}


